  td {

    text-align: center;
    font-family: Arial;
    font-size: 20px;
}
th{
    border: 1px solid;
    padding-left:  25px;
    padding-right: 25px;  
    text-align: center;
    font-family: Arial;
    font-size: 20px;    
}

td a{
  display: block;
  text-decoration: none;
  color:inherit;
}
@media (hover: hover) {
  a:hover {
    background: red;
  }
}

.wait {cursor: wait;}

.magenta{
  background: magenta;
  color: black;
  border: black;
}
.yellow{
  background: yellow;
  color: black;
  border: black;
}
.blue{
  background: blue;
  color: black;
  border: black;
}
.orange{
  background: orange;
  color: black;
  border: black;
}